body {
    width: 100vw;
}

.amr {
    background-color: rgb(222 101 254);
    width: 117px;
    height: 340px;
}

.anas {
    background-color: #213540;
    width: 250px;
    height: 90px;
    text-align: right;
}

.anas .anas-btn {

    border-radius: 20px;
    padding: 10px;
    backdrop-filter: blur(30px);
    background: linear-gradient(to right bottom, rgba(255, 255, 255, 0.2), rgba(255, 255, 255, 0.05));
    border: 1px solid rgba(255, 255, 255, 0.4);
    box-shadow: 7px 4px 20px rgb(255 255 255 / 20%), inset -3px -6px 4px 1px rgb(255 255 255 / 18%);
    color: white;
    cursor: pointer;
    transition: 0.3s;

}

.anas .anas-btn:hover {
    transform: translateY(-3px);
    box-shadow: 7px 4px 20px rgba(195, 1, 239, 0.2), inset -3px -6px 4px 1px rgb(255 255 255 / 18%);
    ;
}

.mayyas{
    background-color: chocolate;
    height: 120px;
    width: 120px;
}