body {
    width: 100vw;
}

.amr {
    display: flex; 
  justify-content: center;
  align-items: center;

    background-color: rgb(222 101 254);
    width: 117px;
    height: 340px;
    }
    
.amr-button
    {
        background-color: rgba(255,255,255,0.2);
        border-radius: 50px;
        border: 2px solid ;
        border-bottom: black;
        border-color: black;
        box-shadow: 0 4px 12px rgba(0, 0, 0, 0.4);
        cursor: pointer;
        padding: 15px 30px;
        font-size: 1.2em;
        text-align: center;
        line-height: 1.2em;
        opacity: 1;
        visibility: visible;
        transition: all 0.4s ease-in-out;
    }
    
.amr-button:hover
    {
        opacity: 0;
        visibility: hidden;
    }

.anas {
    background-color: #213540;
    width: 250px;
    height: 90px;
    text-align: right;
}

.anas .anas-btn {

    border-radius: 20px;
    padding: 10px;
    backdrop-filter: blur(30px);
    background: linear-gradient(to right bottom, rgba(255, 255, 255, 0.2), rgba(255, 255, 255, 0.05));
    border: 1px solid rgba(255, 255, 255, 0.4);
    box-shadow: 7px 4px 20px rgb(255 255 255 / 20%), inset -3px -6px 4px 1px rgb(255 255 255 / 18%);
    color: white;
    cursor: pointer;
    transition: 0.3s;

}

.anas .anas-btn:hover {
    transform: translateY(-3px);
    box-shadow: 7px 4px 20px rgba(195, 1, 239, 0.2), inset -3px -6px 4px 1px rgb(255 255 255 / 18%);
    ;
}

.mayyas{
    background-color:rgb(210, 105, 30);
    height: 120px;
    width: 120px;
}